#header {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
}

#header h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  color: white;
  font-size: 9.8em; /* Using 10em or more results in text returning to bottom */
}

#header img {
  float: right;
  height: 200px;
  margin-top: 25px;
  margin-right: 20px;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://shorturl.at/cmuyE"); /* shortened url as original is too long */
  background-size: cover;
  padding: 15px;

}

#nav-bar button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #041942;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

#login-box {
  margin: 0 auto;
  margin-top: 100px;
  height: 550px;
  width: 500px;
  background-color: rgba(255, 255, 255, 100);
  border-radius: 10px;
  color: #333f46;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 4em;
  padding: 20px;
}

#account-input img {
  height: 200px;
  margin: 0;
}

#account-input select {
  font-size: 30px;
  border-radius: 10px;
  padding: 5px;
}

input {
  margin-top: 0;
  font-size: 30px;
  border-radius:5px;
  padding: 10px;
  background-color: #e8f0fe;
}

#sign-in {
  font-family: 'Roboto', sans-serif;
  color: white;
  border-radius: 0;
  padding: 8px;
  font-weight: bold;
  background-color: #333f46;
  width: 95%;
}

#password {
  width: 90%;
}

#username {
  width: 90%;
}


