body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1607237138185-eedd9c632b0b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29sbGVnZSUyMGNhbXB1c3xlbnwwfHwwfHw%3D&w=1000&q=80");
  background-size: cover;
  padding: 25px;
}

#header h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  color: white;
  font-size: 9.8em; /* Using 10em or more results in text returning to bottom */
}

#header img {
  float: right;
  height: 200px;
  margin-top: 25px;
  margin-right: 20px;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  margin-right: 20px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
