body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://www.uow.edu.au/media/assets/media-centre/UOW-Generic-Students.pdj.11.03.20.008-1920x1080.jpg");
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  color: white;
  font-size: 9.8em; /* Using 10em or more results in text returning to bottom */
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
