#payment_form {
  margin: 0 auto;
  margin-top: 10vw;
  width: 50%;
  height: 450px;
  background-color: white;
  border-radius: 1.5vw;
}

table, td, tr {
  font-size: 1.25vw;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  margin: 0 auto;
  background-color: white;
  width: 90%;
  border: 5px solid white;
  border-bottom: 0;
}

#cardNumTD, #expiryTD, #emailTD, #cvcTD, #nameTD {
  padding-left: 2.4vw;
}

#payTD {
  text-align: center;
  border-bottom: 0;
}

input {
  font-size: 1.5vw;
  padding: .5vw;
}

#header {
  background-color: lightblue;
  width: 100%;
  height: 60px;
  border-top-left-radius: 1.5vw;
  border-top-right-radius: 1.5vw;
}

#header h1 {
  margin: 2vw;
  font-size: 3vw;
  font-family: 'Poppins', sans-serif;
}

.table button {
  width: 90%;
  height: 40px;
  margin: 0 auto;
  border-radius: .8vw;
  border: lightgray;
  background-color: #1962DB;
  color: white;
  font-size: 1.3vw;
}

.table input {
  border-radius: .5vw;
  border: 1.5px solid lightgrey;
}
