#header {
  padding: 10px;
  padding-left: 20px;
  background-color: #041942;
}

#header h2 { /* "UOW Room Booking" header */
  margin-top: -15px;
  margin-bottom: 5px;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  color: white;
  font-size: 7vw;
}

#nav-bar button { /* Navigation buttons */
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1vw;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

#room_buttons {
  margin: 0 auto;
  width: 20vw;
  height: 25vw;
  background-color: white;
  text-align: center;
  padding: 10vw;
}

#room_buttons button{
  padding: 10px;
  font-size: 2vw;
  background-color: #031942;
  color: white;
  width: 90%;
  border-radius: .5vw;
}

#room_buttons button:hover {
  background-color: lightblue;
  color: black;
  cursor: pointer;
}
